// Import page-specific CSS files here.
@import "home";

.card-category {
  margin-top: 10px;
  border-radius: 5px;
}

.add {
  text-align: center;
  margin-bottom: 5px;
  .add-lists {
    border: solid black 1px;
    padding: 5px;
    border-radius: 5px;
  }
}
