<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.pexels.com/photos/4722571/pexels-photo-4722571.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500);">
  <div class="container">
    <h1>Save your movies</h1>
    <%= link_to "Start Now", lists_path, class:"button" %>
  </div>
</div>
