.banner {
  background-size: cover;
  background-position: center;
  padding: 150px 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner h1 {
  margin-bottom: 10px;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
}

.banner-lists {
  width: cover;
  height: 50vh;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  margin-bottom: 15px;
  h1 {
    text-align: center;
    margin: 0 auto;
  }
}

.show {
  width: cover;
  height: 50px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  margin-bottom: 15px;
  h1 {
    text-align: center;
    margin: 0 auto;
  }
}
