.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
}

.card-category {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  margin: 5px;
}
